| [Wheel mount A](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Caster%20Module/Wheel%20Mount%20A.stl)<br>![](images/bom/stl/Wheel Mount A.png) | **4** | **Note: Printing this structural component requires special attention.** Please see the [Wheel mount printing](caster-modules.md#wheel-mount-printing) section for more details. |
| [Wheel mount B](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Caster%20Module/Wheel%20Mount%20B.stl)<br>![](images/bom/stl/Wheel Mount B.png) | **4** | **Note: Printing this structural component requires special attention.** Please see the [Wheel mount printing](caster-modules.md#wheel-mount-printing) section for more details. |
| [Breaker terminal spacer](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Breaker%20Terminal%20Spacer.stl)<br>![](images/bom/stl/Breaker Terminal Spacer.png) | 1 | For covering the exposed terminals of the 5A breaker in the power distribution panel (PDP) |
| [Caster module alignment jig](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Caster%20Module%20Alignment%20Jig.stl)<br>![](images/bom/stl/Caster Module Alignment Jig.png) | 1 | (Optional) Helpful for installing caster modules into the frame |
| [Wheel alignment jig](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Wheel%20Alignment%20Jig.stl)<br>![](images/bom/stl/Wheel Alignment Jig.png) | **2** | For setting the encoder magnet offsets |
