| Battery cable<br>![](images/bom/parts/am-0009.jpg) | $19.00<br>[[AndyMark](https://www.andymark.com/products/6-gauge-battery-cable?Insulation%20Type=Stiff%20PVC%20(am-0009)&quantity=1)] | 2 | $38.00 | One battery cable per battery |
| Battery charger<br>![](images/bom/parts/am-4968_1.jpg) | $94.00<br>[[AndyMark](https://www.andymark.com/products/frc-battery-charger?Bank=1%20Bank&quantity=1&Connectors=SB50%20Connectors)] | 1 | $94.00 | |
| Power cable and 120A breaker kit<br>![](images/bom/parts/am-RbtPwrCblKit.jpg) | $76.75<br>[[AndyMark](https://www.andymark.com/products/robot-power-cable-kit-custom-lengths-up-to-36-in)] | 1 | $76.75 | Select these options: (1) 6 AWG Jacket With SB50, (2) 12 in., (3) 5 in. |
| Power distribution panel (PDP)<br>![](images/bom/parts/PDP1forshopify_a4f5565d-eb18-4a5f-9c6c-ed6e73ea9c9b.webp) | $204.99<br>[[CTRE](https://store.ctr-electronics.com/products/pdp-2)] | 1 | $204.99 | |
| 40A Snap Action breaker<br>![](images/bom/parts/am-4947.jpg) | $7.00<br>[[AndyMark](https://www.andymark.com/products/snap-action-breakers?Amperage=40A%20AT2%20Style&quantity=1)] | 8 | $56.00 | For powering the motors |
| 5A Snap Action breaker<br>![](images/bom/parts/am-2096.1.am-2096.jpg) | $6.40<br>[[AndyMark](https://www.andymark.com/products/snap-action-breakers?Amperage=5A%20(am-2096)&quantity=1)] | 1 | $6.40 | For powering the encoders |
| 22 AWG wire<br>![](images/bom/parts/615orurJReL._SL1024_.jpg) | $9.98<br>[[Amazon](https://www.amazon.com/BNTECHGO-Electric-Gauge-Tinned-Copper/dp/B07JNRJW37)] | 1 | $9.98 | For powering the encoders |
| 5-port wire connectors<br>![](images/bom/parts/61EXwd9as9L._AC_SL1000_.jpg) | $8.22<br>[[Amazon](https://www.amazon.com/Wago-221-415-LEVER-NUTS-Conductor-Connectors/dp/B06XH47DC2)] | 1 | $8.22 | For powering the encoders. 10-pack, 2 will be used. |
| Inline wire connectors<br>![](images/bom/parts/61yTGs92OcL._AC_SL1500_.jpg) | $13.75<br>[[Amazon](https://www.amazon.com/221-2401-Compact-Splicing-Inline-Connectors/dp/B0BT8DHLJJ)] | 1 | $13.75 | For powering the encoders. 20-pack, 6 will be used. |
| PDP WAGO tool<br>![](images/bom/parts/wgo2__62473.jpg) | $12.99<br>[[CTRE](https://store.ctr-electronics.com/products/power-distribution-panel-wago-tool)] | 1 | $12.99 | For opening the WAGO connectors on the PDP |
| Battery flag<br>![](images/bom/parts/am-0122.1.am-0122.jpg) | $1.50<br>[[AndyMark](https://www.andymark.com/products/battery-flag)] | 2 | $3.00 | For marking SLA batteries after they have been charged |
