/// html | div.bom-table
| Item | Unit Cost | Quantity | Total Cost | Notes |
|-|-:|:-:|-:|-|
| 2020 500mm T-slot extrusions<br>![](images/bom/parts/61sVlt3zn0L._SL1500_.jpg) | $30.99<br>[[Amazon](https://www.amazon.com/Aluminum-Extrusion-European-Standard-Anodized/dp/B08CMZ2D8N)] | 4 | $123.96 | 16 total, all will be used |
| 2020 300mm T-slot extrusions<br>![](images/bom/parts/61sVlt3zn0L._SL1500_.jpg) | $17.99<br>[[Amazon](https://www.amazon.com/Aluminum-Extrusion-European-Standard-Anodized/dp/B08744RN57)] | 1 | $17.99 | 4-pack, all will be used |
| 2020 28mm gussets<br>![](images/bom/parts/61e46o4i29L._AC_SL1000_.jpg) | $12.99<br>[[Amazon](https://www.amazon.com/Bracket-Connectors-Aluminum-Extrusion-Accessories/dp/B0B9JVW5X8)] | 2 | $25.98 | 20 total, all will be used. Screws and slide-in T-nuts are included. |
| 2020 20mm gussets<br>![](images/bom/parts/81We6WbCDJL._AC_SL1500_.jpg) | $7.99<br>[[Amazon](https://www.amazon.com/LANIAKEA-Extrusion-20Series-Connector-Accessories/dp/B08NXGV1YH)] | 1 | $7.99 | 50-pack, 8 will be used |
| 2020 90 degree plates<br>![](images/bom/parts/71mIOmgx4CS._AC_SL1500_.jpg) | $15.99<br>[[Amazon](https://www.amazon.com/Boeray-10pcs-Joining-Aluminum-Profile/dp/B076DNR5DY)] | 2 | $31.98 | 20 total, all will be used |
| 2020 20mm corner brackets<br>![](images/bom/parts/51qnaG4QRHL._AC_SL1500_.jpg) | $8.99<br>[[Amazon](https://www.amazon.com/Qjaiune-Aluminum-Extrusion-Brackets-Connector/dp/B09G6KRZ1H)] | 4 | $35.96 | 40 total, 32 will be used |
| 2020 M5 slide-in T-nuts<br>![](images/bom/parts/61hJHQHkaCL._SL1000_.jpg) | $14.59<br>[[Amazon](https://www.amazon.com/KOOTANS-Assembly-Fastener-Aluminum-Extrusion/dp/B07PQ13LCQ)] | 3 | $43.77 | 300 total, 243 will be used |
| M5 8mm screws<br>![](images/bom/parts/51OJWVOQRrL._SL1000_.jpg) | $8.99<br>[[Amazon](https://www.amazon.com/M5-0-8-Button-Socket-Stainless-Quantity/dp/B084MMND2L)] | 3 | $26.97 | 300 total, 197 will be used |
| M5 10mm screws<br>![](images/bom/parts/51OJWVOQRrL._SL1000_.jpg) | $9.29<br>[[Amazon](https://www.amazon.com/M5-0-8-Button-Socket-Stainless-Quantity/dp/B07NVHPPBC)] | 1 | $9.29 | 100 total, 46 will be used |
| 2020 M5 roll-in T-nuts<br>![](images/bom/parts/61G73Qsfs5L._SL1000_.jpg) | $16.68<br>[[Amazon](https://www.amazon.com/100-Pack-Aluminum-Extrusions-Profile-Accessories/dp/B07VHNGBWJ)] | 1 | $16.68 | 100-pack, can be useful if you forget to pre-install a slide-in T-nut |
| 6mm clear acrylic sheet (160 x 310 mm)<br>![](images/bom/parts/acrylic_sheets_clear-xl-1200x705.jpg) | $11.80<br>[[TAP Plastics](https://www.tapplastics.com/product/plastics/cut_to_size_plastic/acrylic_sheets_clear/508)] | 2 | $23.60 | For the laser-cut bottom acrylic plates |
| 3mm white acrylic sheet (117 x 510 mm)<br>![](images/bom/parts/acrylic_color_new-all-xl-1200x705.jpg) | $7.88<br>[[TAP Plastics](https://www.tapplastics.com/product/plastics/cut_to_size_plastic/acrylic_sheets_color/341)] | 1 | $7.88 | For the laser-cut top acrylic plates. The exact color we used was "Lightning White 45%". |
| 3mm white acrylic sheet (103 x 510 mm)<br>![](images/bom/parts/acrylic_color_new-all-xl-1200x705.jpg) | $7.02<br>[[TAP Plastics](https://www.tapplastics.com/product/plastics/cut_to_size_plastic/acrylic_sheets_color/341)] | 1 | $7.02 | For the laser-cut top acrylic plates. The exact color we used was "Lightning White 45%". |
///
