/// html | div.stl-table
| Item | Quantity | Notes |
|-|:-:|-|
--8<-- "3d-printing-shared.snippet::-2"
| [Battery mount (left)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Battery%20Mount%20Left.stl)<br>![](images/bom/stl/Kinova Battery Mount Left.png) | 1 | For securing the SLA battery to the frame. Print with supports enabled. |
| [Battery mount (right)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Battery%20Mount%20Right.stl)<br>![](images/bom/stl/Kinova Battery Mount Right.png) | 1 | For securing the SLA battery to the frame. Print with supports enabled. |
| [Base camera mount (top)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Base%20Camera%20Mount%20Top.stl)<br>![](images/bom/stl/Kinova Base Camera Mount Top.png) | 1 | For attaching the base camera to the frame. Print with supports enabled. |
| [Base camera mount (bottom)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Base%20Camera%20Mount%20Bottom.stl)<br>![](images/bom/stl/Kinova Base Camera Mount Bottom.png) | 1 | For attaching the base camera to the frame. Print with supports enabled. |
| [Base camera mount shim](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Base%20Camera%20Mount%20Shim.stl)<br>![](images/bom/stl/Base Camera Mount Shim.png) | 1 | For keeping the base camera angle fixed |
| [Kinova mounting plate alignment jig](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Mounting%20Plate%20Alignment%20Jig.stl)<br>![](images/bom/stl/Kinova Mounting Plate Alignment Jig.png) | 1 | (Optional) Helpful for mounting the Kinova arm on the frame |
| [Kinova T-nut alignment jig](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20T-Nut%20Alignment%20Jig.stl)<br>![](images/bom/stl/Kinova T-Nut Alignment Jig.png) | 1 | (Optional) Helpful for mounting the Kinova arm on the frame |
| [Kinova fisheye mount](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Kinova/Kinova%20Fisheye%20Mount.stl)<br>![](images/bom/stl/Kinova Fisheye Mount.png) | 1 | For mounting a fisheye lens on the Kinova wrist camera. Print with supports enabled. |
///
