/// html | div.stl-table
| Item | Quantity | Notes |
|-|:-:|-|
--8<-- "3d-printing-shared.snippet::-2"
| [Battery mount](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Battery%20Mount.stl)<br>![](images/bom/stl/ARX5 Battery Mount.png) | 1 | For securing the SLA battery to the frame. Print with supports enabled. |
| [Base camera mount (top)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Base%20Camera%20Mount%20Top.stl)<br>![](images/bom/stl/ARX5 Base Camera Mount Top.png) | 1 | For attaching the base camera to the frame. Print with supports enabled. |
| [Base camera mount (bottom)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Base%20Camera%20Mount%20Bottom.stl)<br>![](images/bom/stl/ARX5 Base Camera Mount Bottom.png) | 1 | For attaching the base camera to the frame. Print with supports enabled. |
| [Base camera mount shim](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Base%20Camera%20Mount%20Shim.stl)<br>![](images/bom/stl/Base Camera Mount Shim.png) | 1 | For keeping the base camera angle fixed |
| [ARX5 riser](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Riser.stl)<br>![](images/bom/stl/ARX5 Riser.png) | 1 | For increasing the elevation of the arm's base |
| [Logitech fisheye mount](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/Logitech%20Fisheye%20Mount.stl)<br>![](images/bom/stl/Logitech Fisheye Mount.png) | 1 | For mounting a fisheye lens on the wrist camera. Print with supports enabled. |
| [Wrist camera mount (top)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Wrist%20Camera%20Mount%20Top.stl)<br>![](images/bom/stl/ARX5 Wrist Camera Mount Top.png) | 1 | For mounting the wrist camera on the arm. Print with supports enabled. |
| [Wrist camera mount (bottom)](https://github.com/jimmyyhwu/tidybot2-resources/blob/main/3D%20Printing/ARX5/ARX5%20Wrist%20Camera%20Mount%20Bottom.stl)<br>![](images/bom/stl/ARX5 Wrist Camera Mount Bottom.png) | 1 | For mounting the wrist camera on the arm. Print with supports enabled. |
///
