| [Accessories<br>![](images/bom/parts/61e1MjpkNIL._AC_SL1500_.jpg)](#accessories) | $67.93 | 1 | $67.93 | See [Accessories](#accessories) section |
| Mini PC<br>![](images/bom/parts/613UrXD1c5L._AC_SL1000_.jpg) | | 1 | | Onboard computer for running low-level control. See [component notes](#mini-pc) for more details. |
| GPU laptop<br>![](images/bom/parts/51NBGzeca3L._AC_SL1400_.jpg) | | 1 | | Used for onboard or offboard policy inference. A GPU workstation could also work but would not be as portable. |
| Wi-Fi router<br>![](images/bom/parts/41trwL++f3L._AC_SL1200_.jpg) | | 1 | | For communication with the onboard computer |
| Wireless gamepad<br>![](images/bom/parts/81MoJ86bE8L._SL1500_.jpg) | $38.19<br>[[Amazon](https://www.amazon.com/Logitech-Wireless-Nano-Receiver-Controller-Vibration/dp/B0041RR0TW)] | 1 | $38.19 | For joystick teleop of the mobile base |
