/// html | div.bom-table
| Item | Unit Cost | Quantity | Total Cost | Notes |
|-|-:|:-:|-:|-|
| Sealed lead acid (SLA) batteries<br>![](images/bom/parts/WCP-1492_e2f8c61f-10f1-4b87-af6c-b7d373906ce2_600x.jpg) | $99.99<br>[[WCP](https://wcproducts.com/products/wcp-1492)] [[REV](https://www.revrobotics.com/rev-19-2487/)] [[AndyMark](https://www.andymark.com/products/mk-es17-12-12v-sla-battery-set-of-2)] | 1 | $99.99 | These MK ES17-12 batteries are sold in pairs so quantity 1 gives you 2 batteries. |
--8<-- "bom-power-system-shared.snippet::-2"
///
