| Fisheye lens attachment<br>![](images/bom/parts/61NEpWwQtQL._AC_SL1500_.jpg) | $12.99<br>[[Amazon](https://www.amazon.com/fisheye-Samsung-BlackBerry-anamorphic-Pictures/dp/B08NSGWNTX)] | 1 | $12.99 | For expanding the field of view of the wrist camera |
