/// html | div.bom-table
| Item | Unit Cost | Quantity | Total Cost | Notes |
|-|-:|:-:|-:|-|
| Sealed lead acid (SLA) battery<br>![](images/bom/parts/dura12-14nb-duracell-ultra-12v-14ah-agm-deep-cycle-battery-nut-and-bolt-terminals__22497.jpg) | $69.99<br>[[GMI Energy](https://gmienergy.com/DURDC12-14NB)] [[Batteries Plus](https://www.batteriesplus.com/productdetails/WKDC12=14NB)] | 2 | $139.98 | We use smaller batteries in this design due to limited space in the smaller frame |
--8<-- "bom-power-system-shared.snippet::-2"
///
